In [6]:
import pandas as pd
import numpy

In [36]:
list = numpy.random.rand(5,3)
df = pd.DataFrame((list), columns=['a', 'b', 'c'])
df

          a         b         c
0  0.681567  0.253738  0.686340
1  0.469415  0.609177  0.652075
2  0.799020  0.425738  0.231408
3  0.892317  0.869249  0.599857
4  0.962376  0.219606  0.349924

In [37]:
list2 = [[1,1], [3,3], [4,4], [6,6], [0,0]]

df.insert(3, "New_col", list2)
df

          a         b         c New_col
0  0.681567  0.253738  0.686340  [1, 1]
1  0.469415  0.609177  0.652075  [3, 3]
2  0.799020  0.425738  0.231408  [4, 4]
3  0.892317  0.869249  0.599857  [6, 6]
4  0.962376  0.219606  0.349924  [0, 0]